$font-display: "p22-zaner-pro-one", fantasy;
$font-body: "mr-eaves-sans", verdana;

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $font-body;
  font-weight: 300;
  height: 100%;
}

main {
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}

header {
  display: grid;
  grid-template-rows: 2fr minmax(100px, 350px) max-content auto 1fr;
  justify-items: center;
  height: 100vh;
}

h1 {
  color: midnightblue;
  grid-row: 2;
  font-family: $font-display;
  font-size: 10rem;
  font-weight: 500;
  line-height: 1;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
}

nav {
  grid-row: 3;
}

p {
  font-size: 1rem;
}

a {
  color: slategrey;
  font-size: 1.5rem;
}
